<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteBucket - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Gupter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="font-sans antialiased bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-gray-800 text-white py-4 font-er">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo and title -->
            <div>
                <a class="flex items-center ml-2" href="./">
                    <img class="mr-2 w-10 h-10" src="../static/1.png" alt="ByteBucket Logo">
                    <h1 class="text-2xl md:text-3xl font-gupter">ByteBucket</h1>
                </a>
            </div>

            <!-- Hamburger button for mobile -->
            <button id="hamburger" class="block md:hidden text-white focus:outline-none mr-10">
                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>

            <!-- Navigation menu -->
            <nav id="mobile-menu"
                class="z-20 fixed inset-y-0 left-0 w-64 bg-gray-800 transform -translate-x-full transition-transform duration-700 ease-in-out md:relative md:translate-x-0 md:flex md:items-center md:w-auto md:space-x-4">
                <div class="flex flex-col md:flex-row p-4 md:p-0 space-y-4 md:space-y-0">
                    <a href="/"
                        class="text-white px-2 md:px-4 py-2 rounded-lg text-2xl hover:bg-gray-700 transition duration-300">Home</a>
                    <a href="/upload"
                        class="text-white px-2 md:px-4 py-2 rounded-lg text-2xl hover:bg-gray-700 transition duration-300">Upload</a>
                    <a href="/files"
                        class="text-white px-2 md:px-4 py-2 rounded-lg text-2xl hover:bg-gray-700 transition duration-300">Files</a>
                </div>
                <div class="flex items-center p-4 md:p-0">
                    <a href="/profile"
                        class="text-white text-2xl px-2 md:px-4 py-2 rounded-md hover:bg-gray-700 transition duration-300">{{username}}</a>
                    <a href="/logout" class="ml-2">
                        <svg class="w-8 h-8 md:w-10 md:h-10 text-white rounded-lg bg-red-500 hover:bg-red-600 transition duration-300 p-1"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 12h4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mx-auto p-4 font-gupter ">
        <div class="text-center my-4">
            <p class="text-3xl font-semibold mb-4 ">
                <u>Your Files</u>
            </p>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                {% for category in categories %}
                <div class="category-container bg-white shadow-lg rounded-lg overflow-hidden"
                    id="category-{{ category | e }}">
                    <div class="p-6">
                        <h2 class="text-2xl font-semibold mb-4">{{ category | e }}</h2>
                        <div class="grid grid-cols-1 gap-2">
                            {% for file in files[category] %}
                            <div class="file-item bg-gray-200 p-4 rounded-md flex justify-between items-center hover:bg-gray-300"
                                data-file="{{ file | e }}" data-category="{{ category | e }}">
                                <h3 class="text-lg font-medium">{{ file | e }}</h3>
                                <div class="flex space-x-2">
                                    <a href="/view_file/{{ category }}/{{ file }}" class="border-r pr-2 border-gray-500"
                                        target="_blank">
                                        <i class="fa-solid fa-eye text-black text-xl hover:text-green-500 "></i>
                                    </a>
                                    <a href="/download_file/{{ category }}/{{ file }}"
                                        class="border-r pr-2 border-gray-500">
                                        <i class="fa-solid fa-download text-black text-xl hover:text-blue-500"></i>
                                    </a>
                                    <form method="post" action="/delete_file/{{ category }}/{{ file }}"
                                        onsubmit="return confirm('Are you sure you want to delete this file?');">
                                        <button type="submit"><i
                                                class="fa-solid fa-trash-can text-xl hover:text-red-500"></i></button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            <p class="text-red-500 border border-red-500 p-2 rounded mt-2 bg-red-200" {% if not error
                                %}style="display: none;" {% endif %}>{{ error }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-gray-800 text-white text-center py-4 mt-auto">
        <div class="container mx-auto text-center">
            <p class="text-sm md:text-base">&copy; 2024 ByteBucket. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/main.js"></script>
</body>

</html>